@using StoreApp.Infrastructer.Extensions;
@model ProductDto

<div class="card mx-3 my-5 float-md-start" style="width: 18rem;">
    <img class="card-img-top" src="@Model?.ImageUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title" >@Model.ProductName</h5>
        <h1>@Model.CategoryId </h1>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="btn-group">


            <a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.ProductId">Detay</a>

            <form id="@Model.ProductId" asp-page="/Cart" method="post">
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn-outline-success"> Ekle </button>
            </form>

        </div>
        
    </div>
</div>